@model DotNetCoreProject.Models.EmployeeLedger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeLedger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLedgerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLedgerTitle.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Received)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Received)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
